@using Ovnign17.Shared

<div class="bg-white shadow-sm p-3">
    <h3>List of Devices</h3>

    <div class="container-fluid">
        <div class="row fw-bold">
            <div class="col-3">
                DeviceId
            </div>
            <div class="col-sm">
                Name
            </div>
            <div class="col-sm">
                Location
            </div>
            <div class="col-sm">
                Date
            </div>
            <div class="col-sm">
                Type
            </div>
            <div class="col-sm">
                Status
            </div>
        </div>

        @foreach (var device in DeviceItems)
        {

            <div class="row">
                <div class="col-3"><span class="forceWrap">@device.Id</span></div>
                <div class="col-sm">@device.Name</div>
                <div class="col-sm">@device.Location.Name<br />@device.Location.Country</div>
                <div class="col-sm">@device.LastUpdated.ToString("dd/MM/yyyy")</div>
                <div class="col-sm">@device.Type.Name<br />@device.Type.Description</div>
                <div class="col-sm">@(device.IsOnline ? "Online" : "Offline")</div>
            </div>
        }






    </div>



@*        <table class="table">
            <thead>
                <tr>
                    <th scope="col">DeviceId</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var device in DeviceItems)
                {

                    <tr>
                        <td>@device.Id</td>
                        <td>@device.Name</td>
                        <td>@device.Location.Name<br/>@device.Location.Country</td>
                        <td>@device.LastUpdated.ToString("dd/MM/yyyy")</td>
                        <td>@device.Type.Name<br/>@device.Type.Description</td>
                        <td>@(device.IsOnline ? "Online" : "Offline")</td>
                    </tr>
                }
            </tbody>
        </table>*@
</div>



@code {

    [Parameter]
    public IEnumerable<Device> DeviceItems { get; set; } = new List<Device>();

    //private void ItemCompleted(Item item)
    //{
    //    item.Completed = item.Completed ? false : true;

    //    //ToDo call api
    //    //Act on success
    //}

    //private void Remove(Item item)
    //{

    //    //ToDo call api
    //    ToDoItems.Remove(item);
    //}

}
